<!-- ngModel and ngIf -->
<!-- ngClass with if stagement to change the backgournd of the div -->
<!-- databinding, function calling -->
<div class="search-div" [ngClass]="{changeBackGround: searchValue != ''}">
    we want to handle the input event
    <span><b>search:</b></span>
    <input type="text" (input)="changesearchValue($event)">
    <input type="text" [(ngModel)]="searchValue" />
    <span *ngIf="searchValue != ''">You searched for "{{ searchValue }}"</span>
    <div>ngModel is two way data binding</div>
    <div>you have to import angular/forms formsmodule</div>
</div>

