<!-- <p> structural directives need a star in front of the directive</p>
<div *ngFor="let item of [1,2,3,17]">
    <p>Number: {{ item }}</p>
</div> -->

<!-- remember source binding for attributes uses <img [src]="p.imagepath"> -->
<!-- ngFor, ngStyle, ngIf-->
<!-- ngIf and else, else is a template called notifyme-->

<div *ngFor="let p of products; let i = index">
    <div class="product-container" [ngStyle]="{backgroundColor: p.available === 'Yes' ? 'Red' : 'Green'}">
        <div>
            <div class="name-container"><h6>{{ p.name }}</h6></div>
            <div class="detailContainer">Index: {{ i }}
                <div class="details"><b>{{ p.id }}</b></div>
                <div class="details" [ngStyle]="{color: p.available === 'Yes' ? 'Green' : 'Red'}"><b>{{ p.available }}</b></div>
                <div *ngIf="p.available === 'Yes' ; else notifyme" class="details"><b>{{ p.price }}</b></div>
                <ng-template #notifyme>
                    <button class="'btn btn-danger">Let me know</button>
                </ng-template>
                <div *ngIf="p.available === 'No'" class="details"><b>OUT OF STOCK</b></div>
                <div class="details"><b>{{ p.colour }}</b></div>
            </div>
        </div>
    </div>
</div> 